.sidebar {
  width: 350px;
  padding: 10%;
  margin: 5.5% 0% 0% 10%;

}


.sidebar h4 {
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10%;
}

.sidebar label {
  display: block;
  font-size: 13px;
  margin: 6px 0;
}

.sidebar input[type="range"] {
  width: 100%;
}

.sidebar input{
    margin-right: 5%;
}

.check-input:checked{
    accent-color: black;
}