*{margin: 0%;padding: 0%;}

.New-Arrivals-Banner{
    width: 100%;
    height: 645px;
    background-color: rgba(247, 197, 159, 1);
}

.left-section{
    width: 930px;
    height: 645px;
    background-color: rgba(28, 35, 51, 1);
    float: left;
}

.offer-content{
    width: 556px;
    height: 385px;
    background-color: rgba(31, 41, 55, 1);
    color: white;
    margin: 10%;
    padding: 10%;
}

.text-new-arrival{
    color: rgba(247, 197, 159, 1);
}

.Bannerbutton{
    background-color: rgba(31, 41, 55, 1);
    border-color: white;
    padding: 2%;
    color: white;
    margin-top: 45px;
}

.bi-arrow-right{
    font-size: larger;
    padding: 10px;
    margin: 5px;

}

.right-section{
    width: 590px;
    height: 645px;
    float: left;
}

.right-circle{
    width: 347px;
    height: 347px;
    background-color: white;
    float: right;
    margin-top: 25%;
    margin-right: 17%;
    border-radius: 50%;

}

.right-side-image{
    margin-top: -443px;
    margin-left: 170px;
}

.Main-section{
    width: 100%;
    height: auto;
}

.week-highlight-grid{
    width: 1248px;
    height: 1035px;
    background-color: black;
    justify-self: center;
}

.Popular-items-section{
    width: 1248px;
    height: 521px;
    background-color: aqua;
    justify-self: center;
    margin-top: 10%;
}


.items-card{
    width: 100%;
    height: 423px;
    background-color: wheat;
}

.Card{
    width: 297px;
    height: 423px;
}

.Brands{
    width: 1264px;
    height: 515px;
    justify-self: center;
}

.brand-div{
    width: 760px;
    height: 178px;
    background-color: white;
}

.Brandlogo{
    width: 100%;
    height: auto;
    background-color: white;
}

.Brand-text{
    font-weight:600;
}

.Summer-Collection{
    width: 1264px;
    height: 515px;
    justify-self: center;
}

.inner-text{
    width: 200px;
    height: 200px;
    color: antiquewhite;
}

