* {
    margin: 0%;
    padding: 0%;
}

.New-Arrivals-Banner {
    width: 100%;
    height: 645px;
    background-color: rgba(247, 197, 159, 1);
}

.left-section {
    width: 930px;
    height: 645px;
    background-color: rgb(21, 26, 37);
    float: left;
    background-image: repeating-linear-gradient(-50deg,

            rgba(255, 255, 255, 0.05) 2px,
            rgba(255, 255, 255, 0.05) 27px,
            transparent 18px,
            transparent 50px);
}


.offer-content {
    width: 556px;
    height: 385px;
    background-color: rgba(31, 41, 55, 1);
    color: white;
    margin: 10%;
    padding: 10%;
}


.text-new-arrival {
    color: rgba(247, 197, 159, 1);
}

.Bannerbutton {
    background-color: rgba(31, 41, 55, 1);
    border-color: white;
    padding: 2%;
    color: white;
    margin-top: 45px;
}

.bi-arrow-right {
    font-size: larger;
    padding: 10px;
    margin: 5px;

}

.right-section {
    width: 590px;
    height: 645px;
    float: left;
}

.right-circle {
    width: 347px;
    height: 347px;
    background-color: white;
    float: right;
    margin-top: 25%;
    margin-right: 17%;
    border-radius: 50%;

}

.right-side-image {
    margin-top: -443px;
    margin-left: 170px;
}

.Main-section {
    width: 100%;
    height: auto;
}

.week-highlight-grid {
    width: 1248px;
    height: 1035px;
    justify-self: center;
}

.gridcontainer{
    margin-top: 10%;
    h4 {
    position: relative;
    margin-left: 42%;
    margin-bottom: 5%;
    padding-bottom: 12px; 
  }

  h4::after {
    content: "";
    position: absolute;
    left: 20%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80px;    
    height: 3%;
    background-color: #000;
  }
}

.productcardcontainer{
    margin: 14% auto 0%;
    height: auto;
    width: 85%;

    h4 {
    position: relative;
    margin-left: 42%;
    margin-bottom: 5%;
    padding-bottom: 12px; 
  }

  .product-card{
    padding: 0px;
    margin: 0%;
  }

  h4::after {
    content: "";
    position: absolute;
    left: 15%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80px;    
    height: 4%;
    background-color: #000;
  }
}

.category-card {
  position: relative;
  height: 500px;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    max-width: 80%;
    
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.15);
  }

  * {
    position: relative;
    z-index: 2;
  }
}
.item-title{

    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    max-width: 80%;
    align-self: center;
    margin-bottom: 120px;
    text-shadow: 
    0 2px 6px rgba(0, 0, 0, 0.6); 
}

.offer-box {
  background: rgba(0,0,0,0.45);
  padding: 10px 14px;
  margin-top: 12px;
  width: fit-content;

  span {
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
  }

  small {
    font-size: 11px;
    opacity: 0.9;
  }
}


.items-card {
    width: 100%;
    height: 423px;
    background-color: wheat;
}

.Card {
    width: 297px;
    height: 423px;
}

.Brands {
    width: 1264px;
    height: 515px;
    justify-self: center;
    h4 {
    position: relative;
    margin-left: 10%;
    margin-bottom: 5%;
    padding-bottom: 12px; 
   
  }
  h4::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 125%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80px;    
    height: 5%;
    background-color: #000;}
}

.brand-div {
    width: 760px;
    height: 178px;
    background-color: white;
}

.Brandlogo {
    width: 100%;
    height: auto;
    background-color: white;
}

.Brand-text {
    font-weight: 600;
}

.Summer-Collection {
    width: 1264px;
    height: 515px;
    justify-self: center;
    position:relative;
    text-align: left;
    margin-bottom: 10%;
}

