* {
    font-family: 'Euclid Circular A', sans-serif;
}

@import "bootstrap/scss/bootstrap";

@media (min-width:1441px) {

    // ------------------------------------------------------ Landing Page ------------------------------------------------//


    .New-Arrivals-Banner {
        width: 100%;
        height: 645px;
        background-color: rgba(247, 197, 159, 1);
    }

    .left-section {
        width: 930px;
        height: 645px;
        background-color: rgb(21, 26, 37);
        float: left;
        background-image: repeating-linear-gradient(-50deg,

                rgba(255, 255, 255, 0.05) 2px,
                rgba(255, 255, 255, 0.05) 27px,
                transparent 18px,
                transparent 50px);
    }


    .offer-content {
        width: 556px;
        height: 385px;
        background-color: rgba(31, 41, 55, 1);
        color: white;
        margin: 10%;
        padding: 10%;
    }

    .text-new-arrival {
        color: rgba(247, 197, 159, 1);
    }

    .Bannerbutton {
        background-color: rgba(31, 41, 55, 1);
        border-color: white;
        padding: 2%;
        color: white;
        margin-top: 45px;
    }





    // ------------------------------------------------------ Product List Page ------------------------------------------------//


    // Nav Bar
    .Navbar {
        width: 100%;
        height: 80px;
    }

    .search-bar-div {
        width: 130%;
        padding-left: 0%;

    }

    .search-icon {
        margin-left: 90px;
    }

    .Nav-last-options {
        width: 70%;
        padding-right: 95px;
    }

    //--------------------------------//

    // Menu and Menu Items
    .menu {
        margin-left: 30px;
    }

    .menu-items {
        margin-left: 17px;
    }

    //-----------------------------

    // Discount Banner 
    .discountbanner {
        width: 1400px;
        margin: 50px auto;
    }

    //---------------------//


    // SortBy and Total Products
    .sort-dropdown {

        .sort-toggle {
            background: transparent !important;
            border: none !important;
            color: #000 !important;
            padding: 0;
            font-weight: 600;
            box-shadow: none !important;
        }

        .sort-toggle::after {
            margin-left: 6px;
        }

        .dropdown-menu {
            border-radius: 0;
        }

        .dropdown-item {
            color: #000;

            &:hover {
                background-color: #f5f5f5;
                color: #000;
            }
        }
    }



    // Product List Row
    .product-listpage-row {
        margin: auto;
    }

    // Category Side Bar Colunm
    .categorysidebar-col {
        margin: 0%;
        width: 30%;
        height: 100%;

    }

    // Product Column
    .product-col {
        margin: 0%;
        padding-top: 22.5px;
        height: 70%;

        @include media-breakpoint-up(md) {

            padding-top: 23px;
        }

    }

    .product-card {

        width: 19rem;
        object-fit: cover;

        @include media-breakpoint-up(md) {

            margin: 0px 0px 20px 5px;
        }
    }

    .pagination-div {
        height: 200px;
        padding-left: 80%;
        padding-top: 20px;
    }

    //---------------------------------------- Wish List Page ------------------------------------------------------------

    .wishlist-main-div {
        width: 90%;
        height: auto;
        margin: 5% auto;
        padding: 50px;
    }

    .cart-main-div {
        width: 90%;
        height: auto;
        margin: 5% auto;
        padding: 50px;
        // background-color: aqua;
    }
}


@media (min-width:1025px) and (max-width:1440px) {
    
    //--------------------------------------------------------------------------------------------------------------------

     .New-Arrivals-Banner {
        width: 400%;
        height: 945px;
        background-color: rgba(247, 197, 159, 1);
    }

    .left-section {
        width: 2730px;
        height: 945px;
        background-color: rgb(21, 26, 37);
        float: left;
        background-image: repeating-linear-gradient(-50deg,

                rgba(255, 255, 255, 0.05) 2px,
                rgba(255, 255, 255, 0.05) 27px,
                transparent 18px,
                transparent 50px);
    }


    .offer-content {
        width: 956px;
        height: 785px;
        background-color: rgba(31, 41, 55, 1);
        color: white;
        margin: 5% 0% 0% 30%;
        padding: 7% 10% 10% 10%;
       
    }

    .text-new-arrival {
        color: rgba(247, 197, 159, 1);
        font-size: 530%
    }

    .Bannerbutton {
        background-color: rgba(31, 41, 55, 1);
        border-color: white;
        padding: 2%;
        color: white;
        margin-top: 75px;

    }

    .right-section {
    width: 590px;
    height: 645px;
    float: left;
}

.right-circle {
    width: 747px;
    height: 747px;
    background-color: white;
    float: right;
    margin-top: 18%;
    margin-right: -80%;
    border-radius: 50%;

}

.right-side-image {
    margin-top: -850px;
    margin-left: 460px;
    height: 150%;
}

.Main-section {
    width: 400%;
    height: auto;
}

.week-highlight-grid {
    width: 2248px;
    height: 935px;
    justify-self: center;
}

.gridcontainer{
    margin-top: 10%;
    h4 {
    position: relative;
    margin-left: 42%;
    margin-bottom: 5%;
    padding-bottom: 12px; 
  }

  h4::after {
    content: "";
    position: absolute;
    left: 20%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80px;    
    height: 3%;
    background-color: #000;
  }
}

.category-card {
  position: relative;
  height: 700px;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    max-width: 80%;
    
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.15);
  }

  * {
    position: relative;
    z-index: 2;
  }
}

.productcardcontainer{
    margin: 24% auto 0%;
    width: 60%;

    h4 {
    position: relative;
    margin-left: 42%;
    margin-bottom: 5%;
    padding-bottom: 12px; 
  }

  .product-card{
    padding: 0px;
    margin: 10%;
    height: 810px;
    width: 600px;
  }

  .cardimage{
    object-fit: cover;
    height: 670px;
  }

  h4::after {
    content: "";
    position: absolute;
    left: 15%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80px;    
    height: 4%;
    background-color: #000;
  }
}
.item-title{

    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    max-width: 80%;
    align-self: center;
    margin-bottom: 120px;
    text-shadow: 
    0 2px 6px rgba(0, 0, 0, 0.6); 
}

.offer-box {
  background: rgba(0,0,0,0.45);
  padding: 10px 14px;
  margin-top: 12px;
  width: fit-content;

  span {
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
  }

  small {
    font-size: 11px;
    opacity: 0.9;
  }
}

.addtobasket{
    margin-left: 40%;
}

.items-card {
    width: 100%;
    height: 423px;
    background-color: wheat;
}

.Card {
    width: 297px;
    height: 423px;
}

.Brands {
    width: 1264px;
    height: 615px;
    justify-self: center;
    h4 {
    position: relative;
    margin-left: 10%;
    margin-bottom: 5%;
    padding-bottom: 12px;
    font-size: 230% 
   
  }
  h4::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 125%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80px;    
    height: 5%;
    background-color: #000;}
    
}

.brand-div {
    width: 760px;
    height: 178px;
    background-color: white;
}

.Brandlogo {
    width: 100%;
    height: auto;
    background-color: white;
}

.Brand-text {
    font-weight: 600;
}

.Summer-Collection {
    width: 2264px;
    height: 515px;
    justify-self: center;
    position:relative;
    text-align: left;
    margin-bottom: 10%;
}




    //--------------------------------------------------------------------------------------------------------------------
    // Nav Bar
    .Navbar {
        width: 400%;
        height: 150%;
    }

    .brandname {
        margin-left: 5%;

    }

    .search-bar-div {
        width: 120%;

    }

    .Nav-last-options {
        width: 80%;
        margin-right: 5%;
    }

    // Menu Bar and Menu Items

    .menu {
        width: 400%;
        padding: 10px 0px 10px 30px;
    }

    .menu-items {
        padding: 10px;
        margin-right: 48px;
    }

    //Discount Banner
    .discountbanner {
        width: 3800px;
        height: 200px;
        margin: 6% 0% 6% 14%;

    }

    .product-listpage-row {
        margin: 0px 0px 0px 80px;
        width: 380%;
    }

    .categorysidebar-col {       
        margin: 0%;
        width: 20%;
        height: 100%;
        padding-left: 0%;

    }

    .sidebar {
        margin-left: 15%;
        width: 70%;
    }

    .product-col {

        margin: 0%;
        width: 100%;
        padding-top: 22.5px;
        height: 50%;

        @include media-breakpoint-up(lg) {
            padding: 50px 50px 20px 55px;
            max-width: 80%;
        }


    }

    .product-card {
        margin-bottom: 20px;
        width: 20rem;
        margin-left: 20px;
        object-fit: cover;
    }




    .pagination-div {
        height: 200px;
        padding-left: 80%;
        padding-top: 20px;
    }

    footer {
        width: 400%;
        height: 400px;
    }

}


@media (min-width:769px) and (max-width: 1024px) {



    // ------------------------------------------------------ ------------------------------------------------//

    .New-Arrivals-Banner {
        width: 280%;
        height: 945px;
    }

    .left-section {
        width: 70%;
        height: 945px;
    }

    .offer-content {
        width: 60%;
        height: 645px;

    }

    .offer-text {
        font-size: 60px;
    }

    .text-new-arrival {
        font-size: 60px;
    }

    .right-circle {
        width: 547px;
        height: 547px;
        margin-right: -2%;
    }

    .right-side-image {
        margin-top: -117%;
        width: 75%;
        margin-left: 20%;

    }

    .Main-section {
        width: 280%;
    }

    .week-highlight-grid {
    width: 1748px;
    height: 935px;
    justify-self: center;
}

.gridcontainer{
    margin-top: 10%;
    h4 {
    position: relative;
    margin-left: 42%;
    margin-bottom: 5%;
    padding-bottom: 12px; 
  }

  h4::after {
    content: "";
    position: absolute;
    left: 20%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80px;    
    height: 3%;
    background-color: #000;
  }
}

.category-card {
  position: relative;
  height: 700px;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    max-width: 80%;
    
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.15);
  }

  * {
    position: relative;
    z-index: 2;
  }
}

.productcardcontainer{
    margin: 24% auto 0%;
    width: 70%;

    h4 {
    position: relative;
    margin-left: 42%;
    margin-bottom: 5%;
    padding-bottom: 12px; 
  }

  .product-card{
    padding: 0px;
    margin: 20% 0% 0% 0%;
    height: 810px;
    width: 400px;
  }

  .cardimage{
    object-fit: cover;
    height: 600px;
  }

  h4::after {
    content: "";
    position: absolute;
    left: 15%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80px;    
    height: 4%;
    background-color: #000;
  }
}
.item-title{

    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    max-width: 80%;
    align-self: center;
    margin-bottom: 120px;
    text-shadow: 
    0 2px 6px rgba(0, 0, 0, 0.6); 
}

.offer-box {
  background: rgba(0,0,0,0.45);
  padding: 10px 14px;
  margin-top: 12px;
  width: fit-content;

  span {
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
  }

  small {
    font-size: 11px;
    opacity: 0.9;
  }
}

.addtobasket{
    margin-left: 40%;
}

.items-card {
    width: 100%;
    height: 423px;
    background-color: wheat;
}

.Card {
    width: 297px;
    height: 423px;
}

.Brands {
    width: 1264px;
    height: 615px;
    justify-self: center;
    h4 {
    position: relative;
    margin-left: 10%;
    margin-bottom: 5%;
    padding-bottom: 12px;
    font-size: 230% 
   
  }
  h4::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 125%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80px;    
    height: 5%;
    background-color: #000;}
    
}

.brand-div {
    width: 760px;
    height: 178px;
    background-color: white;
}

.Brandlogo {
    width: 100%;
    height: auto;
    background-color: white;
}

.Brand-text {
    font-weight: 600;
}

.Summer-Collection {
    width: 164px;
    height: 515px;
    justify-self: center;
    position:relative;
    text-align: left;
    margin-bottom: 10%;
}








    // ------------------------------------------------------ Product List Page ------------------------------------------------//

    // Nav Bar
    .Navbar {
        width: 280%;
        height: 80px;
    }

    .brandname {
        margin-top: 20px;
    }

    .search-bar-div {
        width: 130%;
        margin-top: 20px;
       
    }

    .Nav-last-options {
        width: 70%;
        margin-top: 20px;
       
    }

    // Menu Bar
    .menu {
        width: 280%;
        padding: 2px;
        padding-left: 5%;
    }

    .menu-items {
        padding: 15px;
        margin-left: 15px;
        margin-right: 36px;
    }

    //Discount Banner
    .discountbanner {
        width: 250%;
        margin: 10% 0% 10% 14%;

    }

    .product-listpage-row {
        margin-left: 5%;
        width: 270%;
    }

    .categorysidebar-col {

        margin: 0%;
        width: 40%;
        height: 100%;
        padding: 17px 0px 0px 0px;

        @include media-breakpoint-up(md) {
            width: 35%;
            padding: 0px -10px 0px 0px;
        }


    }

    .sidebar {
        margin-left: 10%;
        width: 600px;
    }

    .product-col {

        margin: 0%;
        padding-top: 22.5px;
        height: 50%;

        @include media-breakpoint-up(md) {
            width: 120%;
            padding: 20px 0px 20px 40px;
        }


    }

    .product-card {
        margin: 34px 0px 20px 10px;
        width: 18rem;
        object-fit: cover;
    }

    .pagination-div {
        height: 200px;
        padding-left: 220%;
        padding-top: 20px;
    }

    footer {
        width: 280%;
    }

}


@media (min-width: 481px) and (max-width: 768px) {


    // Nav Bar
    .Navbar {
        width: 400%;
        height: 105px;
    }

    .brandname {
        margin-top: 15px;
    }

    .search-bar-div {
        width: 120%;
        margin-top: 15px;
      
    }

    .Nav-last-options {
        width: 70%;
        margin-top: 15px;
       
    }

    // Menu Bar
    .menu {
        width: 400%;
        padding: 1px;
        padding-left: 20%;
    }

    .menu-items {
        padding: 20px;
        margin-right: 48px;

    }

    //Discount Banner
    .discountbanner {
        width: 365%;
        margin: 14% 12% 14% 16%;

    }

    // Row of Product List Page
    .product-listpage-row {
        margin-left: 15%;
        width: 370%;
    }

    .categorysidebar-col {
        margin: 0%;
        width: 35%;
        height: 100%;
        padding: 17px 0px 0px 0px;

        @include media-breakpoint-up(md) {
            width: 30%;
            padding: 0px -30px 0px 0px;
        }


    }

    .sidebar {
        width: 450px;
        margin-right: 20%;
    }

    .product-col {
        margin: 0%;
        padding-top: 22.5px;

        @include media-breakpoint-up(md) {
            width: 130%;
            padding: 20px 0px 20px 60px;
        }


    }

    .product-card {
        margin-top: 20px;
        margin-left: 60px;
        width: 18rem;
    }

    .pagination-div {
        height: 200px;
        padding-left: 220%;
        padding-top: 20px;
    }

    footer {
        width: 400%;
    }

}

@media (max-width:480px) {

    // Nav Bar
    .Navbar {
        width: 370%;
        height: 80px;
    }

    .brandname {
        margin-top: 5px;
    }

    .search-bar-div {
        width: 100%;
        margin-top: 5px;
       
    }

    .Nav-last-options {
        width: 70%;
        margin-top: 5px;
        
    }

    // Menu Bar
    .menu {
        width: 350%;
        padding: 1px;
        padding-left: 2%;
        margin-left: 20%;
    }

    .menu-items {
        padding: 8px;
        gap: 30px;
        margin-right: 28px;
    }

    //Discount Banner
    .discountbanner {
        width: 1600px;
        margin: 14% 12% 14% 16%;

    }

    // Row of Product List Page
    .product-listpage-row {
        margin-left: 20%;
        width: 330%;
    }

    .categorysidebar-col {

       
        margin: 0%;
        width: 30%;
        height: 100%;
        padding: 17px 0px 0px 0px;

        @include media-breakpoint-up(md) {
            width: 30%;
            padding: 0px -30px 0px 0px;
        }


    }

    .sidebar {
        width: 370px;
    }

    .product-col {

        
        margin: 0%;
        padding-top: 22.5px;
        height: 50%;

        @include media-breakpoint-up(md) {
            width: 120%;
            padding: 20px 0px 20px 60px;
        }


    }

    .product-card {
        margin-top: 20px;
        margin-left: 40px;
        width: 18rem;
    }

    .pagination-div {
        height: 200px;
        padding-left: 320%;
        padding-top: 20px;
    }

    footer {
        width: 370%;
    }

}