.discountbanner{
    width: 1296px;
    height: 119px;
    background-color: rgba(17, 24, 39, 1);
    margin: 0 auto;
}

.total-number-of-products{
     width: 100%;
  max-width: 1296px;
    height: 50px;
    background-color: aqua;
   margin: 0 auto;     
  margin-top: 20px; 
}